<!DOCTYPE html>
<html>
<head>
	<title>Fretti</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='CSS_Kansio.css') }}">
</head>
<body>
	<h1>Tama sivu kertoo Freteista</h1>
	<h2>Fretit ovat hienoimpia ja viisaimpia elaimia mitä universumista löytyy</h2>
	<b>MUISTAKAA: ALKAA IKINA HAIRITKO FRETTEJA SILLA HE OVAT PALJON PAREMPIA KAIKESSA (paitsi liikunnassa) KUIN SINA!!!</b>
	<p>Fretit ovat paljon parempia kuin mita ihmiset luulevat. Ne pysytyvat ratkaisemaan vaikeimpia ongelmia ja jos he eivat pysty ratkaisemaan jotakin he hermostuvat jolloin heita EI TODELLAKAAN kannata hairita. Silti Fretit ovat hyvin sivistyneita, hauskoja, ystavallisia ja hienoja. Kotielaimina he ovat sisasiisteja ja mukavia, tehden sita mita sina itse haluat.</p>
	<a href="https://fi.wikipedia.org/wiki/Fretti" target="_blank">Huono sivu Freteista</a>
	<p>Tassa Fretin antama onnenluku: {{ rnd }}.
	<p>Seuraavaksi kuva jumalastamme:</p>
	<img src="http://4.bp.blogspot.com/-AmP75jD4g1o/T6g7tzniauI/AAAAAAAABbY/Q2nQbQVERHg/s1600/hihihihi+011.JPG" alt="Fretti kaikessa kauneudessaan" />
</body>
</html>